.selectedCardsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.card {
    height: 300px;
    width: 210px;
    margin: 0px 15px;
    border: 2px solid yellow;
    border-radius: 15px
}

.image {
    height: 100%;
    width: 100%
}